.cart {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background: white;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 10;
    overflow-y: auto;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.items {
    flex-grow: 1;
    overflow-y: auto;
}

.cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border: 1px solid #F2F2F2;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.info {
    flex: 1;
    margin-left: 10px;
}

.itemTitle {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.price {
    font-size: 14px;
    color: #555;
    margin: 0;
}

.removeButton {
    border: 1px solid #F2F2F2;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    color: #D3D3D3;
    margin-top: 10px;
}

.removeButton:hover {
    color: red;
}

.summary {
    position: sticky;
    bottom: 20px;
    background: white;
    padding: 15px 20px;
}

.total,
.tax {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.checkoutButton {
    width: 100%;
    padding: 12px;
    background: #9DD458;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.checkoutButton:hover {
    background: #76c776;
}

.emptyCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.emptyCart img {
    width: 120px;
    height: auto;
}

.emptyCart h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.emptyCart p {
    color: gray;
    font-size: 14px;
}

.emptyCart button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #a8df65;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.emptyCart button:hover {
    background-color: #98c856;
}

.emptyCart button svg {
    width: 16px;
    height: 16px;
}