.container {
    padding: 60px 75px;
    text-align: center;
    font-family: "Inter", serif;
}

.main_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_top h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.73px;
    letter-spacing: 0%;

}

.form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
}

.input {
    width: 250px;
    height: 45px;
}

.notFound {
    color: red;
    font-size: 18px;
}